<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <h2>{{name}}</h2>
  <ul>
    <li v-for="item in movies">{{item}}</li>
  </ul>
<!--  带索引的遍历-->
  <ul>
    <li v-for="(item,index) in movies">{{index}}--{{item}}</li>
  </ul>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el : "#app",
    data:{
      name:'lmx',
      movies:['1','2','3','5']
    
    },
    methods:{
    
    },
    computed:{
    
    },
    watch:{
    
    }
  })
  
</script>
</body>
</html>